<div class="wrapper">
    <table>
      <thead>
        <app-table-header *ngFor="let config of configs" [headerName]="config.title"></app-table-header>
      </thead>
      <tbody>
        <app-table-row [movieData]="movies" [headersData]="configs"></app-table-row>
      </tbody>
    </table>
  </div>